/* Header */
.large-header {
	position: relative;
    height: 80vh;
	background: black;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.main-title {
	position: absolute;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    font-size: 40px;
    pointer-events: none;
}

.main-title .thin {
	font-weight: 600;
}

.copyright{
    text-align: center;
    font-size: 11px;
    color: aliceblue;
    background-color: black;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}